# Pascal Matrices

## Definition

The Pascal's triangle is classically defined as a triangular matrix on the space $\mathbb{N} \times \mathbb{N}$ of naturals numbers.

It forms a lower/left triangular matrix, as follows:

$\forall \ n, k \in \mathbb{N} :$

$ C(n, k)= \begin{cases} 
  0 & \text{if } k>n \\
  1 & \text{if } k=0 \\
  C(n-1, k-1) + C(n-1, k) & \text{otherwise}
\end{cases}$

Each non-zero element can be calculated directly using the binomial coefficient:

$ C(n, k) = \binom{n}{k} = \frac{n!}{k!(n-k)!} \ , \ \forall \ n, k \in \mathbb{N} \mid n \geq k \geq 0$


## Pascal Matrices

Classically, the Pascal Triangle is presented as an infinite lower triangular matrix 

$C \in \mathbb{N}^2 : C_{i, j} = \binom{i}{j}$

$C = \begin{bmatrix}
1 & 0 & 0 & 0 & 0\\
1 & 1 & 0 & 0 & 0\\
1 & 2 & 1 & 0 & 0 & \ldots\\
1 & 3 & 3 & 1 & 0\\
1 & 4 & 6 & 4 & 1\\
 & & \vdots & & & \ddots
\end{bmatrix}$

The transposed triangle makes an upper triangular matrix: 

$C^T : C^T_{i, j} = \binom{j}{i}$

$C^T = \begin{bmatrix}
1 & 1 & 1 & 1 & 1\\
0 & 1 & 2 & 3 & 4\\
0 & 0 & 1 & 3 & 6 & \ldots\\
0 & 0 & 0 & 1 & 4\\
0 & 0 & 0 & 0 & 1\\
 & & \vdots & & & \ddots
\end{bmatrix}$

The symmetrical triangle is obtained by multiplying both: 

$CC^T : CC^T_{ij} = \binom{i+j}{i} = \binom{i+j}{j}$

$CC^T = \begin{bmatrix}
1 & 1 & 1 & 1 & 1\\
1 & 2 & 3 & 4 & 5\\
1 & 3 & 6 & 10 & 15 & \ldots\\
1 & 4 & 10 & 20 & 35\\
1 & 5 & 15 & 35 & 70\\
 & & \vdots & & & \ddots
\end{bmatrix}$

The matrix $C$ can be obtained by the exponential of the following particular matrix:

$C = 
\begin{bmatrix}
1 & 0 & 0 & 0 & 0\\
1 & 1 & 0 & 0 & 0\\
1 & 2 & 1 & 0 & 0 & \ldots\\
1 & 3 & 3 & 1 & 0\\
1 & 4 & 6 & 4 & 1\\
 & & \vdots & & & \ddots
\end{bmatrix}
\ = \
\exp
\begin{bmatrix}
0 & 0 & 0 & 0 & 0\\
1 & 0 & 0 & 0 & 0\\
0 & 2 & 0 & 0 & 0 & \ldots\\
0 & 0 & 3 & 0 & 0\\
0 & 0 & 0 & 4 & 0\\
 & & \vdots & & & \ddots
\end{bmatrix}
$

## Finite Matrices

It is possible to indicate a value $m\in \mathbb{N}$ representing the size of the matrix.

In this way, $M_m$ is the matrix $m \times m$ where $M_{ij} = C(i,j), \forall i,j \in [0, m-1]$.

## Properties

The powers of $C$ are easily obtained by:

$C^m(n,k) = m^{n-k} C(n,k)$

The determinants of $C$, $C^T$, and $CC^T$ are $1$:

$\det(C) = \det(C^T) = \det(CC^T) = 1$

The inverses of $C$, $C^T$, and $CC^T$ can be obtained in the same manner, like:

$C^{-1}(n,k) = (-1)^{n+k} C(n,k)$

$\big({C^T}\big)^{-1}(n,k) = (-1)^{n+k} C^T(n,k)$

$\big(CC^T\big)^{-1}(n,k) = (-1)^{n+k} CC^T(n,k)$


See: https://fr.wikipedia.org/wiki/Matrice_de_Pascal

See: Babiga Birregah, Prosper K. Doh, Kondo H. Adjallah. 2010. "A systematic approach to matrix forms of the Pascal triangle: The twelve triangular matrix forms and relations". EJC.

See: Yongzhi Yang, Catherine Micek. 2007. "Generalized Pascal functional matrix and its applications". LAA.

In [38]:
from pyrl.gr import *
from pyrl.utils import *

################

max_n = 8
k_arr = range(0,max_n+1)
n_arr = range(0,max_n+1)

printdf([[zcomb(n, k) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="k", label_axis_rows="n", title='Classic Pascal Triangle (lower triangular matrix) : $\\binom{n}{k}$')
print_latex_matrix([[zcomb(n, k) for k in k_arr] for n in n_arr])
print_latex_matrix([[zcomb(n, k) for k in k_arr] for n in n_arr], show=False)

printdf([[zcomb(k, n) for k in k_arr] for n in n_arr], label_rows=k_arr, label_cols=n_arr, label_axis_cols="n", label_axis_rows="k", title='Transposed Pascal Triangle (upper triangular matrix) : $\\binom{n}{k}^T = \\binom{k}{n}$',)
printdf([[zcomb(n+k, k) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="k", label_axis_rows="n", title='Symmetrical Pascal Triangle : $\\binom{n+k}{k}$')
printdf([[zcomb(n+k, k) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="n", label_axis_rows="k", title='Symmetrical Pascal Triangle : $\\binom{n}{n+k}$')
printdf([[zcomb(n+k, n) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="n", label_axis_rows="k", title='Transposed Symmetrical Pascal Triangle : $\\binom{n+k}{k}^T = \\binom{n+k}{n}$')
printdf([[zcomb(n+k, n) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="n", label_axis_rows="k", title='Transposed Symmetrical Pascal Triangle : $\\binom{n+k}{k}^T = \\binom{k}{n+k}$')

printdf([[max(0, zcomb(n, k) - zcomb(n, k+1)) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="k", label_axis_rows="n", title='$(-1)$-Truncated Pascal Triangle : $\\binom{n}{k} - \\binom{n}{k+1}$')
printdf([[max(0, zcomb(n, k) - zcomb(n, k-1)) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="k", label_axis_rows="n", title='$(+1)$-Truncated Pascal Triangle : $\\binom{n}{k} - \\binom{n}{k-1}$')

printdf([[max(0, zcomb(n+k, k) - zcomb(n+k, k-1)) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="k", label_axis_rows="n", title="Catalan's Triangle = $(+1)$-Truncated-Symmetrical Pascal Triangle : $\\binom{n+k}{k} - \\binom{n+k}{k-1}$:")
printdf([[max(0, zcomb(n+k, k) - zcomb(n+k, k+1)) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="n", label_axis_rows="k", title="Transposed Catalan's Triangle = $(-1)$-Truncated-Symmetrical Pascal Triangle :$\\binom{n+k}{k} - \\binom{n+k}{k+1}$:")
printdf([[max(0, zcomb(n+k, n) - zcomb(n+k, n-1)) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="n", label_axis_rows="k", title="Transposed Catalan's Triangle = $(+1)$-Truncated-Transposed-Symmetrical Pascal Triangle : $\\binom{n+k}{n} - \\binom{n+k}{n-1}$:")
printdf([[max(0, zcomb(n+k, n) - zcomb(n+k, n+1)) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="k", label_axis_rows="n", title="Catalan's Triangle = $(-1)$-Truncated-Transposed-Symmetrical Pascal Triangle : $\\binom{n+k}{n} - \\binom{n+k}{n+1}$:")

printdf([[max(0, zcomb(n+2*k, k) - zcomb(n+2*k, k-1)) for k in k_arr] for n in n_arr], label_rows=n_arr, label_cols=k_arr, label_axis_cols="k", label_axis_rows="n", title="Squared Catalan's Triangle : $\\binom{n+2k}{k} - \\binom{n+2k}{k-1}$:")

b_arr = range(-max_n,max_n+1)
printdf([[zcomb(n, (b+n)//2) if (b+n)//2 == (b+n)/2 else 0 for b in b_arr] for n in n_arr], label_rows=n_arr, label_cols=b_arr, label_axis_cols="b", label_axis_rows="n", title="Tartaglia's Triangle : $\\binom{n}{\\frac{b+n}{2}}$:")
printdf([[max(0, zcomb(n, (b+n)//2) - zcomb(n, (b+n)//2 +1)) if (b+n)//2 == (b+n)/2 else 0 for b in b_arr] for n in n_arr], label_rows=n_arr, label_cols=b_arr, label_axis_cols="b", label_axis_rows="n", title="Tartaglia's Triangle : $\\binom{n}{\\frac{b+n}{2}}$:")

b_0=+3
b_arr = range(-max_n+b_0,max_n+1+b_0)
printdf([[zcomb(n, (b+n-b_0)//2) if (b+n-b_0)//2 == (b+n-b_0)/2 else 0 for b in b_arr] for n in n_arr], label_rows=n_arr, label_cols=b_arr, label_axis_cols="b", label_axis_rows="n", title="$(+3)$-Shifted-Tartaglia's Triangle : $\\binom{n}{\\frac{b+n-3}{2}}$:")

\begin{matrix}
 1 &  &  &  &  &  &  &  &  &  \\
 1 & 1 &  &  &  &  &  &  &  &  \\
 1 & 2 & 1 &  &  &  &  &  &  &  \\
 1 & 3 & 3 & 1 &  &  &  &  &  &  \\
 1 & 4 & 6 & 4 & 1 &  &  &  &  &  \\
 1 & 5 & 10 & 10 & 5 & 1 &  &  &  &  \\
 1 & 6 & 15 & 20 & 15 & 6 & 1 &  &  &  \\
 1 & 7 & 21 & 35 & 35 & 21 & 7 & 1 &  &  \\
 1 & 8 & 28 & 56 & 70 & 56 & 28 & 8 & 1 &  \\
\end{matrix}